$text: rgb(55, 55, 55);
$textBright: rgb(213, 226, 221);
$background: rgb(213, 226, 221);
$primary: rgb(248, 126, 64);
$primaryDark: rgb(55, 55, 55);
$secondary: rgb(239, 106, 48);
$accent: rgb(78, 183, 180);
$bRadius: .75rem;


section.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 2vh;

  min-height: 85vh;

  img {
    margin: 1vh;

    flex: 1;
    max-height: 35vh;
    max-width: fit-content;
    border-radius: $bRadius;
    z-index: 2;
  }

  img:hover {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  }
}