$text: rgb(55, 55, 55);
$textBright: rgb(213, 226, 221);
$background: rgb(213, 226, 221);
$primary: rgb(248, 126, 64);
$primaryDark: rgb(55, 55, 55);
$secondary: rgb(239, 106, 48);
$accent: rgb(78, 183, 180);
$bRadius: .75rem;

article {
  margin: 2vw;
  align-items: center;
  .textArea {
    max-width: 55vw;

  }
  img {
    width: 50vw;
    height: 30vh;
    object-fit: cover;
  }
}