$text: rgb(55, 55, 55);
$textBright: rgb(213, 226, 221);
$background: rgb(213, 226, 221);
$primary: rgb(248, 126, 64);
$primaryDark: rgb(55, 55, 55);
$secondary: rgb(239, 106, 48);
$accent: rgb(78, 183, 180);
$bRadius: .75rem;

@media (max-width: 450px) {
  div#articlePage {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  article {
    margin: 2vw;

    max-width: 90vw;

    font-size: 1.5em;
    line-height: 1.5em;

    img {
      width: 90vw;
      height: 20vh;
      object-fit: cover;
    }
  }
}

@media (min-width: 800px) {
  div#articlePage {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  article {
    margin: 2vw;

    max-width: 60vw;

    font-size: 1.5em;
    line-height: 1.5em;

    img {
      width: 60vw;
      height: 30vh;
      object-fit: cover;
    }
  }
}
