$text: rgb(55, 55, 55);
$textBright: rgb(213, 226, 221);
$background: rgb(213, 226, 221);
$primary: rgb(248, 126, 64);
$primaryDark: rgb(55, 55, 55);
$secondary: rgb(239, 106, 48);
$accent: rgb(78, 183, 180);
$bRadius: .75rem;

body {
  margin: 0;
  width: 100vw;
  font-family: 'Raleway SemiBold', sans-serif;
  background: #fff;
}

#featured-news {
  margin: 5vh 3vw;
}

.imageCover {

}