$text: rgb(55, 55, 55);
$textBright: rgb(213, 226, 221);
$background: rgb(213, 226, 221);
$primary: rgb(248, 126, 64);
$primaryDark: rgb(55, 55, 55);
$secondary: rgb(239, 106, 48);
$accent: rgb(78, 183, 180);
$bRadius: .75rem;

footer {
  position: sticky;
  color: $textBright;
  padding: 2vh 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  text-align: right;
  justify-content: flex-end;
  flex-direction: row;

  min-height: 8vh;
  width: 100vw;
  max-width: 100vw;
  background: $primaryDark;

  a {
    color: $textBright;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}