$text: rgb(55, 55, 55);
$textBright: rgb(213, 226, 221);
$background: rgb(213, 226, 221);
$primary: rgb(248, 126, 64);
$primaryDark: rgb(55, 55, 55);
$secondary: rgb(239, 106, 48);
$accent: rgb(78, 183, 180);
$bRadius: .75rem;


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Comfortaa&display=swap');

@media (max-width: 1000px) {
  a#anchor-logo, h1 {
    max-height: 10vh !important;
    line-height: 5vh;
  }
}

#toggle {
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  top: 12vh;
  font-size: 2vh;
  text-align: center;
  text-anchor: middle;
  position: fixed;
  font-weight: bold;
  color: $text;
  line-height: 0.5vh;
  background: $accent;
  border-radius: 0 $bRadius $bRadius 0;
  width: 2vw;
  height: 4vh;
}

#toggle:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $background;
  margin: 0;
  padding: 0;
  max-width: 100vw;

  font-family: 'Comfortaa', cursive;
  color: $textBright;
  z-index: 0;
}

p, h2, strong, li {
  font-family: 'Comfortaa', cursive;
  color: $text;
}

ul {
  padding-left: 1vw;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 0 0;
  margin: 0;
  background: $primaryDark;
  max-width: 100vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
  z-index: 9;

  a {
    display: flex;
    align-items: center;

    text-decoration: none;
  }

  a:hover {
    text-decoration: $textBright underline;
  }

  a#anchor-logo {
    flex-direction: row;
    justify-content: flex-start;

    flex: 3;

  }

  a.nav-link {
    justify-content: center;

    font-family: 'Comfortaa', cursive;
    font-size: 2vh;
    color: $textBright;
    flex: 1;
  }

  h1 {
    font-family: 'Caveat', cursive;
    font-size: 4vh;
    color: $textBright;
  }
}

img.space-logo {
  margin: 1em;
  height: 7vh;
  width: auto;
}

footer {
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  max-width: 100vw;
  background: $primaryDark;

}